.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 2em;
  height: 100vh;
  padding: 4em 4em 4em;
}

.fact {
  font-weight: 500;
  font-size: 28px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions {
  list-style: none;
  display: flex;
  flex-basis: 40%;
  margin: 0;
  gap: 2em;
  padding: 0;
  width: 100%;
  justify-content: center;
}

.actions button {
  background: none;
  border: 0.075em solid currentColor;
  border-radius: 10%;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: 60px;
  padding: 0.25em 0.4em;
  user-select: none;
  font-variation-settings: 'FILL' 0;
  transition:
    font-variation-settings 0.1s,
    color 0.2s,
    opacity 0.2s ease-in 0.2s;
}

.actionDismiss {
  --action-color: red;
}

.actionFavorite {
  --action-color: #fe1868;
}

.actionFavorite.isFavorite {
  font-variation-settings: 'FILL' 1;
}

.actions button:hover:enabled {
  color: var(--action-color);
}

.actions button:disabled {
  opacity: 0.3;
  /* Short delay prevents animation teetering on fast connections when the user
     is skipping through facts quickly. */
  transition-delay: 0.2s;
}
