/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@font-face {
  font-family: 'Noto Sans';
  src: url('assets/fonts/noto-sans/NotoSans-Regular.ttf');
}

@font-face {
  font-family: 'Noto Sans';
  src: url('assets/fonts/noto-sans/NotoSans-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('assets/fonts/noto-sans/NotoSans-Bold.ttf');
  font-weight: bold;
}

body {
  background-color: #011025;
  color: #fff;
  font-family: 'Noto Sans';
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  border-bottom: 1px solid #fff1;
  display: flex;
  align-items: center;
}

nav {
  flex-grow: 1;
}

nav ol {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav a {
  color: #fff8;
  display: inline-block;
  padding: 1em;
  text-decoration: none;
  font-variation-settings: 'FILL' 0;
  transition: font-variation-settings 0.2s;
}

nav a.active {
  color: #fc3c;
  font-variation-settings: 'FILL' 1;
}

nav a span {
  vertical-align: text-bottom;
  transform: translateY(1px);
}

header select {
  margin-right: 1em;
  font: inherit;
}

main {
  flex-grow: 1;
  display: grid;
}
