/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

 @font-face {
  font-family: "Noto Sans";
  src: url("assets/fonts/noto-sans/NotoSans-Regular.ttf");
}

@font-face {
  font-family: "Noto Sans";
  src: url("assets/fonts/noto-sans/NotoSans-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Noto Sans";
  src: url("assets/fonts/noto-sans/NotoSans-Bold.ttf");
  font-weight: bold;
}

body {
  background-color: #011025;
  color: #fff;
  font-family: "Noto Sans";
  padding: 2rem;
}
