/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@font-face {
  font-family: 'Noto Sans';
  src: url('assets/fonts/noto-sans/NotoSans-Regular.ttf');
}

@font-face {
  font-family: 'Noto Sans';
  src: url('assets/fonts/noto-sans/NotoSans-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('assets/fonts/noto-sans/NotoSans-Bold.ttf');
  font-weight: bold;
}

body {
  background-color: #011025;
  color: #fff;
  font-family: 'Noto Sans';
  margin: 0;
}

button.action {
  background: none;
  border: 0.075em solid currentColor;
  border-radius: 10%;
  color: inherit;
  cursor: pointer;
  padding: 0.25em 0.4em;
  user-select: none;
  font-variation-settings: 'FILL' 0;
  transition:
    font-variation-settings 0.1s,
    color 0.2s,
    opacity 0.2s ease-in 0.2s;
}

button.action:hover:enabled {
  color: var(--action-color);
}

button.action:disabled {
  opacity: 0.3;
  /* Short delay prevents animation teetering on fast connections when the user
     is skipping through facts quickly. */
  transition-delay: 0.2s;
}
