.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 2em;
  min-height: 100vh;
  padding: 4em 4em 4em;
}

.favoritesList {
  display: flex;
  flex-direction: column;
  gap: 4em;
  list-style: none;
  margin: 0;
  padding: 0;
}

.favoritesList li {
  display: flex;
  align-items: start;
  gap: 2em;
}

.fact {
  flex-grow: 1;
  font-weight: 500;
  font-size: 16px;
  margin: 0.25em 0 0; /* margin-top matches action button padding-top */
}

.removeFavorite {
  --action-color: #fff;
  color: #fe1868;
  font-variation-settings: 'FILL' 1;
  align-self: center;
}

.removeFavorite:hover {
  font-variation-settings: 'FILL' 0;
}
